$bgImgHeader:url("../img/m-h-night.jpg");
$bgBody: #21232e;
$collorText: #fff;
$btnCollor:#e3ac00;
$btnText:#fff;
$linksCollor: #fff;
$bColl: #ff4e33;
$blockCollor: #3b3f50;
$collorGradient: linear-gradient(to right, #e3ac00, #922b53);