$bgImgHeader:url("../img/m-h-day.jpg");
$bgBody: #fff;
$collorText: #2c2f3c;
$btnCollor:#699900;
$btnText:#fff;
$linksCollor: #fff;
$bColl: #14a0c7;
$blockCollor: #21232e;
$collorGradient: linear-gradient(to right, #679608, #2d5bdb);